resources/
downloadAllAudible/datasetAll/YAT1Audible/
downloadAllAudible/datasetAll/YAT2Audible/
downloadAllAudible/datasetAll/YAT3Audible/
exp*/databaseYAT/
exp*/databaseDN/
exp*/templatesYAT/
exp*/templatesDN/
